.body1_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(236, 236, 239);
    height: 80px;
    padding-left: 80px;
    padding-right: 80px;
    width: au
}

.service_name{
    font-size: 70px;
    margin-left: 70px;
    
}

.sign_up button {
    /*background-color: rgb(42, 70, 114);*/
    background-color: navy;
    border: none;
    border-radius: 80px;
    color: white; 
    font-size: medium; 
    padding: 20px 30px;
}

.sign_up{
    display: flex;
    gap: 10px;
}

.team_name{
    font-size: 40px;
}

.first_time{
    gap: 15px;
    display: flex;
    flex-direction: row;
}

.question{
    font-size: larger;
}

.body1_main{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(240, 242, 245);
    border-bottom: 1px solid rgb(239, 240, 245);
    width: auto;
}

.body1{
    margin: 0;
    font-family: 'NanumSquareNeo-Variable', sans-serif;
}

.body1_mainsection{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
    flex-grow: 1;
    padding: 90px 80px;
}

.body1_mainsection img{
    width: 20cm;
    height: 10.5cm;
    margin: 0;
    max-width: 100%;
    padding: 14.5px 0px;
}

.introduce{
    font-size: 36.3px;
    margin: 0;
    padding: 0;
}

.body1_aside{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.body1_asidesection{
    display: flex;
    flex-direction: column;
    background-color: rgb(241, 244, 247);
    padding: 140px 100px;
    flex-grow: 1;
    width: auto;
}

.title{    
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: x-large;
}

.body1_inputs{
    display: flex;
    flex-direction: column;
    width: auto

}

.body1_inputs input {
    border-radius: 20px;
    border-width: 0px;
    height: 40px;
    margin: 4px;
    background-color: rgba(255, 255, 255, 0.6); 
    color: rgb(4, 4, 4); 
    padding: 0px; 
}

.log_in{
    background-color: rgb(251, 250, 253); 
    border-width: 0;
    border-radius: 20px; 
    height: 40px; 
    margin: 4px;
}

.find_password{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20px;
    margin: 10px;
}

.log_in2{
    margin-left: 10px;
    margin-top: 20px;
    height: 20px;
}

.other_login{
    margin-left: 10px;
    margin-right: 10px;
    height: 25px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.body1_buttons{
    display: flex;
    flex-direction: row;
    border-width: 0;
    justify-content: space-between;
}

.body1_buttons button{
    font-size: medium; 
    padding: 0px 35px;
    background-color: rgb(251, 250, 253); 
    border-width: 0; 
    border-radius: 5px; 
    height: 40px; 
    margin: 3px;

}

.body1_footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    border-top: 2px solid rgb(55, 62, 103);
    width: auto;
}

.body1_mainsection2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*background-color: rgb(33, 56, 94);*/
    background-color: navy;
    color: white;
}

.body1_asidesection2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 25px;
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgb(232, 232, 241);
}

.body1_logo{
    flex-grow: 1;
    font-size: 60px;
    margin-left: 80px;
    margin-right: 80px;
}

.body1_text{
    height: 20px;
    margin-left: 30px;
    margin-top: 0;
}

.body1_aside_buttons3{
    display: flex;
    justify-content: space-around;
    margin-left: 30px;
}

.body1_aside_buttons3 button {
    /*background-color: rgb(42, 70, 114);*/
    background-color: navy;
    border: none;
    border-radius: 30px;
    color: white; 
    font-size: medium; 
    padding: 20px 35px;
    margin-right: 22.5px;
}

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.team_name,
.question,
.sign_up2,
.introduce,
.title,
.find_password,
.log_in,
.log_in2,
.other_login,
.body1_buttons button,
.body1_aside_buttons3 button{
    font-family: 'NanumSquareNeo-Variable', sans-serif;
}

@keyframes circle_moving {
    0%{clip-path: circle(14.4% at 17% 19%);}
    30%{clip-path: circle(21.9% at 24% 49%);}
    50%{clip-path: circle(32.4% at 69% 76%);}
    80%{clip-path: circle(49.2% at 70% 40%);}
    100%{clip-path: circle(74.2% at 52% 53%);}
}

@keyframes fadeIn {
    from {
        opacity: 0; /* 투명 */
    }
    to {
        opacity: 1; /* 불투명 */
    }
}

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.divmain{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./imagefile/main.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    width: 100%;
    height: 900px;
    animation-name: circle_moving;
    animation-duration: 3s; 
    position: relative;
}

.divmain::before{
    content: ''; 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
    background-color: rgba(242, 242, 239, 0.5); 
}

.autolist1{
    opacity: 0;
    animation-delay: 3s;
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-fill-mode: forwards; 
}

.img01{
    display: flex;
    justify-content: center;
}

.div01{
    display: flex;
    justify-content: center;
}

.span01{
    padding: 140px 10px 20px 180px;
}

.span02{
    font-weight: 500;
    font-family: 'NanumSquareNeo-Variable';
    font-size: 40px;
}

.span03{
    font-family: 'NanumSquareNeo-Variable';
    font-size: 20px;
    font-style: italic;
}

.span05{
    font-family: 'NanumSquareNeo-Variable';
    font-size: 40px;
}

.span06{
    font-family: 'NanumSquareNeo-Variable';
    font-size: 20px;
    font-style: italic;
}

.img02{
    display: flex;
    justify-content: center;
}

.div02{
    display: flex;
    justify-content: center;
}
.span04{
    padding: 150px 180px 80px 110px;
}

.container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}
  
.text-block {
    flex-basis: 40%;
    padding-left: 100px;
    padding-right: 100px; 
}
  
.image-block {
    flex-basis: 40%; 
}
  
.title001{
    font-family: 'NanumSquareNeo-Variable';
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 5px; 
}
  
.title002{
    font-family: 'NanumSquareNeo-Variable';
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 5px; 
}
  
.subtitle001{
    font-family: 'NanumSquareNeo-Variable';
    font-size: 20px;
}
  
img{
    display: block;
    max-width: 100%; 
    height: auto;
}

.combine2{
    display: flex;
    flex-direction: column;
    height:auto;
    margin-top: 100px;
    width:105%;
}

.name2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    font-weight: bolder;
    font-weight: 1000;
    color: navy;
    margin-bottom: 60px;
    margin-top: 80px;
    margin-left:40px;
    font-family: 'NanumSquareNeo-Variable';
}

.intro{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    font-family: 'NanumSquareNeo-Variable';
    font-weight: 600;
 }

.photo{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'NanumSquareNeo-Variable'; 
}

.center1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.intro2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    font-family: 'NanumSquareNeo-Variable';
    font-weight: 600;
}

.photo2{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'NanumSquareNeo-Variable';
}

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BMHANNAPro';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.0/BMHANNAPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;    
}

.main-jiwoo{
    display: flex;
    align-items: center;
    margin-left:10%;
    margin-top: 50px;
}

.timetable{
    margin-top: 50px;
    margin-left: 150px;
    animation: slide-in 3s;
}

@keyframes slide-in {
    from {
    transform: translate(-30%);
    visibility: visible;
    }
    to {
    transform: translate(0%);
    visibility: visible;
    }
}   

.check{
    margin-left: 100px;
}

.m{
    margin-left: 20px;
    font-size: 24px;
    font-weight: bold;
    font-family: 'NanumSquareNeo-Variable';
}

.message{
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.hidden{
    display: flex;
    margin-left: 100px;
    margin-bottom: 20px;
    font-size: 25px;
    color: gray;
    font-family: 'NanumSquareNeo-Variable';
}

.highlight{
    color: navy;
    font-weight: 600;
    font-size: larger;
}

.on1{
    margin-left: 117px;
}

.on2{
    margin-left: 211px;
}

.on3{
    margin-left: 110px;
}

.riceparty{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; 
}

.you{
    margin-left: 9px;
    font-size: 55px;
    font-weight: 800;
    font-family: 'NanumSquareNeo-Variable';
    color: navy;
}

.yourmenu{
    margin-left: 95px;
    font-size: 55px;
    font-weight: 600;
    font-family: 'NanumSquareNeo-Variable';
}

.with{
    align-items: baseline;
    margin-left: 25px;
    font-size: 40px;
    font-family: 'BMHANNAPro';
}

.of{
    align-items: baseline;
    font-size: 30px;
}

.title{
    margin-bottom: 60px;
}


@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.footer{
    font-family: 'NanumSquareNeo-Variable';
    left:0;
    bottom:0;
    padding: 0;
    width: auto;
    background-color: rgb(0, 0, 95);
    text-align: center;
    color: white;
    line-height: 1.7;
    display:flex;
    padding-top: 20px;
    height:270px;
}

.footer1{
    background-color: rgb(0, 0, 95);
}

.footertext{
    display: flex;
    flex-direction:column;
    font-weight: bold;
}

#hheader{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    padding-left: 50px;
    padding-right: 32px;
    margin-inline: 60px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.lisst1{
    display: flex;
    font-size: 14px;
    font-weight: lighter;
    padding-right: 55px;
    padding-left: 70px;
    margin-inline: 20px;
    padding-bottom: 10px;
}

.lisst2{
    display: flex;
    font-size: 14px;
    font-weight: lighter;
    padding-right: 33px;
    padding-left: 100px;
    margin-inline: 20px;
    padding-bottom: 10px;
}

.lisst3{
    display: flex;
    font-size: 14px;
    font-weight: lighter;
    padding-right: 50px;
    padding-left: 100px;
    margin-inline: 15px;
}

.logoo{
    padding-bottom: 16%;
}

.logoo img{
    position: absolute;
    padding-top:20px;
    right:0px;
    height: 180px;
}

#footing{
    display: flex;
    align-items: center;
    margin-left:30%;
    color: white;
    letter-spacing: 5px;
    padding-bottom:20px;
}

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.ccombine{
    font-family: 'NanumSquareNeo-Variable';
    display: flex;
    flex-direction: column;
    height: auto;
    float: left;
    position: absolute;
}
  
.main-eunbin{
    margin-top: 100px;
    display:flex;
    float: left;
    margin-bottom:100px;
}
  
.rightimgg{
    display: flex;
    height: 850px;
    align-content: center;
    margin-left:100px;
    overflow:hidden;
    animation: slide-slow 1s;
    margin-top: 2%;
}
  
@keyframes slide-slow {
    from {
    margin-left: 10%;
    }
    to {
    margin-left:100px;
    }
}
  
.textt{
    margin-left:55px;
    margin-top: 10%;
    width: 800px;
    font-size: 55px;
    font-weight: 600;
    position:relative;
    align-content: center;
}
  
.textt{
    animation: slide-in 2s;
    margin-top: 0%;
    right: 0;
}
  
@keyframes slide-in {
    from {
    animation: slide-in 3s;
    transform: translate(20%);
    visibility: visible;
    }
    to {
    transform: translate(0%);
    visibility: visible;
    }
}
  
.textcolor{
      color: rgb(44, 79, 168);
      font-size: larger;
      margin-top: 30px;
}
  
.textcolor{
    position: relative;
    display: inline-block;
        
    &:before {
        position: absolute;
        left: 0;
        top: -10%;
        width: 100%;
        height: 120%;
        background: #fff;
        filter: blur(10px);
        content: "";
        opacity: 0;
        animation: flash 1s ease-out alternate infinite;
    }
}
        
@keyframes flash {
    to {
    opacity: 1;
    }  
}
        
@keyframes flashText {
    to {
    opacity: 0.05;
    }
}
  
#ttt{
    font-weight: light;
    font-size:24px;
    line-height: 47px;
    margin-right:  30px;
}

.ttt{
    text-align: right;
    font-weight: light;
    font-size:24px;
    line-height: 1;
}
  
